@import 'reset.css';
@import 'https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap';

:root {
  --link-active: #4737ff;
  --link-unactive: #9a9ea6;
  --heading: #181e4b;
  --desc: #5e6282;
  --primary: #4475f2;
  --placeholder: #9c9c9c;
  --border: #dedede;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--desc);
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

.header-block {
  font-weight: 800;
}

.header-block__label {
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.1em;
  color: var(--primary);
}

.header-block__label:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__title {
  font-size: 48px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #000000;
}

.header-block__margin {
  margin-bottom: 90px;
}

@media (width <= 1200px) {
  .header-block__margin {
    margin-bottom: 70px;
  }
}

@media (width <= 991.98px) {
  .header-block__margin {
    margin-bottom: 50px;
  }

  .header-block__label {
    font-size: 16px;
  }

  .header-block__title {
    font-size: 42px;
  }
}

@media (width <= 767.98px) {
  .header-block__margin {
    margin-bottom: 40px;
  }

  .header-block__label {
    font-size: 14px;
  }

  .header-block__title {
    font-size: 36px;
  }
}

@media (width <= 479.98px) {
  .header-block__title {
    font-size: 32px;
  }

  .header-block__margin {
    margin-bottom: 30px;
  }
}

.header {
  position: relative;
  z-index: 50;

  /* position: sticky;
  top: 0; */
  padding-top: 77px;
}

.header__container {
  display: flex;
  align-items: center;
  column-gap: 125px;
}

.header__logo {
  flex: 0 0 80px;
}

.header__logo img {
  max-width: 100%;
  min-height: 100%;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 40px;
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--link-unactive);
  transition: all 0.3s;
  text-shadow: 0 0 1px #ffffff;
}

.menu__link:hover {
  color: var(--link-active);
}

@media (width <= 991.98px) {
  .header__container {
    column-gap: 50px;
  }

  .menu__list {
    justify-content: center;
    column-gap: 20px;
  }
}

@media (width <= 479.98px) {
  .header {
    padding-top: 15px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .header__logo {
    flex: 0 0 auto;
    max-width: 150px;
  }

  .menu__link {
    font-size: 18px;
  }
}

.page__hero {
  margin-bottom: 170px;
}

.page__features,
.page__services,
.page__reviews {
  margin-bottom: 200px;
}

.page__location {
  margin-bottom: 240px;
}

@media (width <= 1200px) {
  .page__hero {
    margin-bottom: 100px;
  }

  .page__features,
  .page__services,
  .page__reviews,
  .page__location {
    margin-bottom: 100px;
  }
}

@media (width <= 991.98px) {
  .page__hero {
    margin-bottom: 60px;
  }

  .page__features,
  .page__services,
  .page__reviews,
  .page__location {
    margin-bottom: 60px;
  }
}

@media (width <= 787.98px) {
  .page__hero {
    margin-bottom: 40px;
  }

  .page__features,
  .page__services,
  .page__reviews,
  .page__location {
    margin-bottom: 50px;
  }
}

.hero {
  position: relative;
  padding-top: 62px;
  padding-bottom: 40px;
}

.hero__container {
  display: flex;
}

.hero__container::before,
.hero__container::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200vw;
  height: 150%;
  background-color: var(--primary);
  border-radius: 50px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
  transform-origin: left bottom;
}

.hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}

.hero__container::after {
  left: calc(50% + 444px);
  transform: skewX(31deg);
}

.hero__content {
  flex: 0 1 50%;
}

.content-hero {
  position: relative;
  z-index: 2;
  display: grid;
  align-content: start;
  gap: 30px;
}

.content-hero__title {
  font-size: 76px;
  font-weight: 800;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: var(--heading);
}

.content-hero__title a {
  color: var(--primary);
  text-shadow: 0 0 8px #ffffff;
  transition: all 0.3s;
}

.content-hero__title a:hover {
  text-decoration: underline;
}

.content-hero__text p {
  line-height: 187%;
}

.content-hero__text p:not(:last-child) {
  margin-bottom: 10px;
}

.content-hero__button {
  position: relative;
  top: 0;
  height: 60px;
  padding: 17px 54px;
  font-weight: 700;
  line-height: 156%;
  text-align: center;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
  transition: all 0.3s;
}

.content-hero__button:hover {
  top: 3px;
  text-decoration: underline;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
}

.hero__images {
  flex: 0 1 50%;
}

.images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}

.images-hero__image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}

.images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}

.images-hero__item--03 {
  grid-row: span 2;
  place-self: center end;
  padding-bottom: 10px;
}

.images-hero__item--04 {
  place-self: end end;
}

@media (width >= 1200px) {
  .content-hero {
    padding-right: 20px;
  }
}

@media (width >= 479.98px) {
  .content-hero {
    justify-items: start;
  }
}

@media (width <= 1200px) {
  .hero__container {
    flex-direction: column;
    row-gap: 30px;
  }

  .images-hero {
    align-self: center;
  }
}

@media (width <= 991.98px) {
  .content-hero__title {
    font-size: 55px;
  }
}

@media (width <= 767.98px) {
  .content-hero__title {
    font-size: 45px;
  }
}

@media (width <= 479.98px) {
  .hero {
    padding-top: 40px;
  }

  .content-hero__title {
    font-size: 42px;
  }
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.features__item {
  flex: 0 1 280px;
  display: grid;
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  background-color: var(--primary);
  border-radius: 26px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
}

.features__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
}

.features__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 187%;
  letter-spacing: 0.02em;
  text-align: center;
}

@media (width <= 991.98px) {
  .features__items {
    justify-content: center;
  }
}

@media (width <= 610px) {
  .features__item {
    flex-grow: 1;
  }
}

.services__items {
  display: grid;
  gap: 140px;
}

.services__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services__content {
  flex: 1 1 250px;
}

.services__title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
}

.services__title:not(:last-child) {
  margin-bottom: 40px;
}

.services__title span {
  color: var(--primary);
}

.services__text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 187%;
  letter-spacing: 0.02em;
  color: var(--desc);
}

.services__text p:not(:last-child) {
  margin-bottom: 15px;
}

.services__img {
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
}

@media (width >=768px) {
  .services__body {
    max-width: 420px;
  }

  .services__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .services__content:nth-child(odd) .services__body {
    margin: 0 0 0 auto;
  }

  .services__item {
    align-items: flex-start;
  }

  .services__image {
    flex: 1 1 250px;
  }
}

@media (width <= 1200px) {
  .services__items {
    gap: 100px;
  }
}

@media (width <= 991.98px) {
  .services__items {
    gap: 70px;
  }
}

@media (width <= 767.98px) {
  .services__items {
    gap: 40px;
  }

  .services__item {
    flex-direction: column;
  }

  .services__image {
    text-align: center;
  }

  .services__title {
    font-size: 28px;
  }

  .services__title:not(:last-child) {
    margin-bottom: 27px;
  }
}

.reviews__items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.reviews__item {
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  border: 1px solid var(--border);
  box-shadow:
    0 3px 2px 0 rgba(0, 0, 0, 0.02),
    0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04),
    0 22px 18px 0 rgba(0, 0, 0, 0.04),
    0 42px 33px 0 rgba(0, 0, 0, 0.05),
    0 100px 80px 0 rgba(0, 0, 0, 0.07);
}

.reviews__item > * {
  margin-bottom: 15px;
}

.reviews__link-avatar {
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.reviews__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__text {
  flex-grow: 1;
  margin-bottom: 25px;
}

.reviews__text p {
  line-height: 187%;
  letter-spacing: 0.01em;
  color: var(--desc);
}

.reviews__text p:not(:last-child) {
  margin-bottom: 10px;
}

.reviews__link-title {
  line-height: 187%;
  letter-spacing: 0.01em;
  color: #23a6f0;
  transition: all 0.3s;
}

.reviews__link-title:hover {
  text-decoration: underline;
}

.reviews__position {
  font-weight: 700;
  line-height: 187%;
  letter-spacing: 0.01em;
  color: var(--heading);
}

.reviews__item > *:last-child {
  margin-bottom: 0;
}

.location__map {
  width: 100%;
  height: 405px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 100px;
  margin-bottom: 95px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.footer__logo {
  max-width: 248px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  height: 93px;
}

.social__item {
  transition: all 0.3s;
}

.social__item:hover {
  transform: scale(1.05);
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  transition: all 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  padding: 50px 15px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: var(--primary);
}

@media (width <= 1200px) {
  .footer__body {
    margin-bottom: 70px;
  }
}

@media (width <= 991.98px) {
  .footer__body {
    margin-bottom: 50px;
  }
}

@media (width <= 787.98px) {
  .footer__body {
    margin-bottom: 30px;
  }
}
